@model NSCSC.Shared.Models.SandBox.Inventory.Product.ProductDetailModels
@{
    ViewBag.Title = "Addition Info";
}
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Sand Box" }, { "B", "Inventory" }, { "C", "Addition Info" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li>
                                    <a href="javascript:void(0)" class="btn btn-danger" id="btn-delete" onclick="CloseDetail(); return false;">
                                        <i class="fa fa-times"></i>
                                        &nbsp;Cancel
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="btn btn-success" id="btn-edit-save" onclick="SubmitForm('#form-edit')">
                                        <i class="fa fa-save"></i>
                                        &nbsp;Save
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Edit", "SBInventoryAddition", FormMethod.Post, new { @id = "form-edit", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                            {
                                @Html.Partial("_Form", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#form-edit").submit(function (e) {

        $('#ltrErrorPrice').html('');
        var isSubmit = true;
        var count = $(".ng-Price:visible").length;
        if (count == 0) {
            $('#ltrErrorPrice').html("Price least at one item for addition");
            isSubmit = false;
        } /*else {
            var isStatus = CheckStatusActiveForProduct('.ng-Price:visible','');
            if (!isStatus) {
                isSubmit = false;
                $('#ltrErrorPrice').html("Please active least at one item price for addition");
            }
        }*/
        if (isSubmit) {
            $('.se-pre-con').show();
            //Update value for CKEDITOR
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            $.ajax({
                url: $(this).attr('action'),
                type: "POST",
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function () {
                    $('.se-pre-con').hide();
                    CloseDetail();
                    Search();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('.se-pre-con').hide();
                    $(".detail-view").html(jqXHR.responseText);
                }
            });
        }
        e.preventDefault();
    });

    $(document).ready(function () {
      
    });
</script>
