<div class="container">
    <div class="col-sm-12 col-xs-12 col-md-12" style="margin-top:-25px">
        <h3>
            @Model["A"]
            <small style="float:right">
                @Model["B"] /
                <span style="color:#ff6a00">@Model["C"] </span>
            </small>
        </h3>
    </div>
    <div class="clearfix"></div>
</div>
