<div class="right_col" role="main" style="background-color: #ededed; padding:0;">
    <img src="@Url.Content("~/Assets/Images/background.png")" style="width: 100%;" />
</div>

<style type="text/css">
    .nav_menu{
    margin-bottom:0px;
}

</style>
