@model NSCSC.Shared.Models.AccountForgotPasswordRequest
@{
    ViewBag.Title = "Forgot Password";
}
<style>
    .login_wrapper {
        right: 0px;
        margin: 0px auto;
        margin-top: 5%;
        max-width: 350px;
        position: relative;
    }

    .btn {
        background-color: #16BE9B;
        color: white;
    }
</style>

<div class="se-pre-con" style="display: none;"></div>

<div class="title_left">
    @*@Html.Partial("~/Views/Shared/_breadcrumb.cshtml", new Dictionary<string, string> { { "A", "FORGOT PASSWORD" }, { "B", "HOME / SIGN IN" }, { "C", "FORGOT PASSWORD" } })*@
    <div class="container">
        @*<div class="col-sm-12 col-xs-12 col-md-12" style="margin-top:-25px;float:right">*@
            <h3>
                @*FORGOT PASSWORD*@
                <small class="breadcrum">
                    <a href="@Url.Action("Index", "Home")">home</a>
                    <i class='fa fa-caret-right'></i>
                    <a href="@Url.Action("Index", "Login")">sign in</a>
                    <i class='fa fa-caret-right'></i>
                    <span>forgot password</span>
                </small>
            </h3>
        @*</div>*@
        <div class="clearfix"></div>
    </div>
</div>
<div class="login_wrapper">
    <div class="row text-center">
        <div class="form-group has-feedback">
            <p>Please input you registered email</p>
            <span class="fontBold">Email:</span>
            @Html.TextBoxFor(model => model.Email,
                 new
                 {
                     @type = "email",
                     @class = "form-control",
                     @required = "required",
                     @autocomplete = "off",
                     @id = "txtEmail"
                 })
        </div>
        <div class="row">
            <button type="button" class="btn btn-default submit fontUppercase" onclick="ForgotPassword()">Reset Password</button>
        </div>
        <div class="row">
            <span class="label label-danger" id="msgResult"></span>
        </div>
    </div>
</div>


<script>
    function ForgotPassword() {
        var _Email = $('#txtEmail').val();
        if (_Email == '' || _Email === undefined) {
            $('#msgResult').html('Please enter your email address.');
            $('#txtEmail').focus();
            return false;
        }
        else if (!validateEmail(_Email)) {
            $('#msgResult').html('Please enter a valid email address.');
            $('#txtEmail').focus();
            return false;
        }
        $.ajax({
            url: CreateAbsoluteUrl("ResetPassword"),
            type: 'GET',
            data: {
                Email: _Email
            },
            dataType: 'json',
            //contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            beforeSend: function (xhr) {
                $('.se-pre-con').show();
            },
            error: function (e) {
                $('#msgResult').html(e.responseText);
            },
            success: function (data) {
                window.location.assign(CreateAbsoluteUrl('Index'));
            },
            complete: function () {
                $('.se-pre-con').hide();
            }
        });
    }
</script>